VITE_SUPABASE_URL=https://lnulafutuyxnaxkteqjv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxudWxhZnV0dXl4bmF4a3RlcWp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxODIwMzcsImV4cCI6MjA5MDc1ODAzN30.kiHKjMJPueIwCz3hYoqPvL8wxrJpkr1Mk3ASOSzRARk
